<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  
   <!-- Page Title -->
  <title>Webpage Template 2.0</title>

  <!-- Initial tags -->
  <meta charset="UTF-8" />
  <meta name="description" content="Basic template with navbar" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  <!-- Page Icon |TO ADD HREF LINK | -->
  <link rel="icon" type="image/png" href="#" /> 
    
  <!-- style.css link -->
  <link rel="stylesheet" href="style.css" />
    
  <!-- Font Awsome local link -->
  <!-- <link rel="stylesheet" href="all.css" /> -->

  <!-- Font Awsome main link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 
    
</head>
    <body>

    <!-- Body Wrapper-->
    <div class="wrapper">

      <!-- Navigation Bar -->
      <nav>
        <div class="navigation-bar">

          <!-- Logo and/or Title Area of Navigation Bar |TO ADD SRC AND HREF LINK | -->
          <div class="title-page-area"><img src="#" class="page-logo" alt="page logo"/><a id="titleLink" href="#" target="_blank">Title</a></div>

          <!-- Navigation Bar Links-->
          <ul class="nav-links">
            <li><a href="#nav1" class="active-nav">Nav1</a></li>
            <li><a href="#nav2">Nav2</a></li>
            <li><a href="#nav3">Nav3</a></li>
          </ul>

          <!-- Hamburger Toggle Links For Mobile Screens -->
          <div class="nav-links-menu-toggle">
            <i class="fas fa-bars"></i>
          </div>

          <!-- Appearance Area (Color Theme and DarkMode) of Navigation Bar -->
          <div class="appearance-area">
            <!-- Darkmode Button -->
            <div class="dark-mode-btn" title="Dark Mode">
              <!-- Data Color : Hex  0-White 1-text-color 2-primary-color 3-secondary-color 4-ui-bg -->
              <i class="btn fas fa-moon" data-color="#fff #e4e6eb #272B2F #1D2124 #171A1D"></i>
            </div>

          </div>
        </div>
      </nav>

      <!-- Main Content Section -->
      <main class="content">
    
        <!-- Nav Page 1 -->
        <section id="nav1" class="page-content active-section">
          <h2>Sample <span class="color-text">Page</span> 1</h2>
        </section>
      
        <!-- Nav Page 2 -->
        <section id="nav2" class="page-content">
          <h2>Sample <span class="color-text">Page</span> 2</h2>
        </section>

        <!-- Nav Page 3 -->
        <section id="nav3" class="page-content">
          <h2>Sample <span class="color-text">Page</span> 3</h2>        
        </section>

      </main>

      <footer class="footer">
        <p>Email : *Email here*</p>
      </footer>
    
    </div> 

  </body>

  <!-- scripts -->
  <script  src="./script.js"></script>

</html>